@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800');

// media
$desktop-width: 973px;
$tablet-width: 660px;

// fonts
$text: 400 17px/22px "Manrope";
$title: 700 34px/46px "Manrope";
$sub-title: 500 24px/33px "Manrope";
$mobile-title: 700 32px/36px "Manrope";
$logo: 700 20px/24px "Manrope";
$button-text: 300 18px/22px "Manrope";
$header-action: 500 14px/12px "Manrope";
$mobile-back-page: 600 18px/24px "Manrope";
$pagination-link: 700 14px/20px "Manrope";

// colors
$primary: #FF008A;
$black: #000;
$white: #fff;
$danger-25: rgba(153,27,27,0.25);
$danger: rgba(153,27,27,1);
$grey:#E2E2E2;
$grey-10: rgba(60, 60, 67, 0.1);
$grey-60: rgba(60, 60, 67, 0.6);
$post-image-bg: rgba(152, 151, 244, 1);

