@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800');

// fonts
$text: 400 17px/22px "Manrope";
$title: 700 34px/46px "Manrope";
$logo: 700 20px/24px "Manrope";
$header-action: 500 14px/12px "Manrope";
$pagination-link: 700 14px/20px "Manrope";

// colors
$primary: #FF008A;
$black: #000;
$white: #fff;
$danger-25: rgba(153,27,27,0.25);
$danger: rgba(153,27,27,1);
$grey:#E2E2E2;
$grey-10: rgba(60, 60, 67, 0.1);
$grey-60: rgba(60, 60, 67, 0.6);

